/*=== GERAL ====================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 62.5%; /* 1rem = 10px */
  font-family: 'Poppins', sans-serif;
  background-color: #f4f7fa;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

/* PAGE */

.container {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;

  width: 100%;

  gap: 10rem;
}

/* IMAGEM */

.bg {
  display: flex;
  justify-content: center;
  align-self: center;

  width: 30%;
}

/* CONTAINER LOGIN */

.login {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1rem;

  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 0.8rem;

  width: min(27rem, 100%);
  height: 37rem;
}

.login header h1 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 135.5%;

  margin-top: 1rem;

  margin-bottom: 1rem;
}

.login header h1 span {
  font-size: 1.8rem;
  font-weight: 900;
  color: #6358dc;
}

.login header .button {
  display: flex;
  align-items: center;

  border-bottom: 4px solid #e5e5e5;
  width: 25rem;
  height: 4rem;

  margin-bottom: 1.5rem;
}

.login header .button a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25rem;
  height: 3rem;

  gap: 1rem;

  font-size: 0.875rem;
  text-decoration: none;
  color: #000;
}

.login header .button svg {
  width: 20px;
  height: 20px;
}

.login header .button:hover {
  background-color: #e5e5e5;
  transition: background 200ms;
}

.login header p {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  width: 25rem;

  margin-bottom: 1.5rem;
}

.login header p::after {
  content: '';
  display: block;
  position: relative;

  top: -11px;
  left: 240px;

  width: 160px;
  height: 1px;
  background-color: #bfbfbf;
}

.login header p::before {
  content: '';
  display: block;
  position: relative;

  top: 12px;

  width: 160px;
  height: 1px;
  background-color: #bfbfbf;
}

/* INPUTS */

.form-email,
.form-pass {
  display: flex;
  align-items: center;

  width: 25rem;
  height: 3.5rem;
  background-color: #e5e5e5;

  margin-bottom: 1rem;
  border-radius: 5px;
}

.icon {
  margin-inline: 1rem;
}

/* INPUT EMAIL */

.form-text {
  display: flex;
  flex-direction: column;
}

.form-text input {
  display: inline-block;
  width: 20rem;

  padding-block: 0.3rem;

  font-weight: bold;

  background: none;
  border: none;
  outline: 0;
}

.form-text input::placeholder {
  font-weight: bold;
  color: #000;
}

/* INPUT PASSWORD */

.form-password {
  display: flex;
  flex-direction: column;
}

.form-password input {
  display: inline-block;
  width: 18rem;
  padding-block: 0.3rem;

  font-weight: bold;

  background: none;
  border: none;
  outline: 0;
}

.form-pass .check {
  cursor: pointer;
}

/* CHECKS e BTNS */

.infos {
  display: flex;
  align-items: center;
  gap: 0.3rem;

  width: 24rem;

  margin-bottom: 1rem;
}

.infos input[type='checkbox'] {
  position: relative;
  cursor: pointer;

  width: 20px;
  height: 15px;
}

.infos a {
  margin-left: 190px;
  text-decoration: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25rem;
  height: 2.5rem;

  background: #6358dc;
  border-radius: 8px;
  margin-bottom: 1rem;

  cursor: pointer;
}

.btn:hover {
  background: #3928f3;
  transform: scale(0.98);
}

.btn a {
  padding: 0.5rem 11.1rem 0.5rem 11.1rem;

  font-size: 0.875rem;
  color: #fff;
}

.links {
  color: #6358dc;
}

/* MEDIA */

@media (max-width: 1023px) {
  .bg {
    display: none;
  }

  .login header h1 {
    font-size: 1.2rem;

    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-inline: 1.2rem;
  }

  .login header h1 span {
    font-size: 1.6rem;
  }

  .login header .button {
    width: 20rem;

    border: 2px solid #e5e5e5;
    border-radius: 8px;
    margin-inline: auto;
  }

  .login header p {
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    width: 25rem;

    margin-bottom: 1.5rem;
  }

  .login header p::after {
    left: 235px;

    width: 120px;
  }

  .login header p::before {
    left: 45px;

    width: 120px;
  }

  /* INPUTS */

  .form-email,
  .form-pass {
    width: 20rem;
  }

  /* INPUT EMAIL */

  .form-text input {
    width: 15rem;
  }

  .form-text label {
    font-size: 0.875rem;
  }

  /* INPUT PASSWORD */

  .form-password input {
    width: 13rem;
  }

  .form-password label {
    font-size: 0.875rem;
  }

  /* CHECKS e BTNS */

  .infos {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    width: 20rem;
  }

  .infos label {
    font-size: 0.875rem;
  }

  .infos input[type='checkbox'] {
    width: 20px;
    height: 20px;
  }

  .infos a {
    margin-left: 60px;
    font-size: 0.875rem;
  }

  .btn {
    width: 20rem;
  }

  .btn a {
    padding: 0.5rem 8.5rem 0.5rem 8.5rem;
  }

  .link {
    font-size: 0.875rem;
  }
} ;
